.iframe_wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25;
    height: 50vh;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
}
#filterBorder{
  margin-left: auto;
  margin-right: auto;
  width:60%;
}
.margin_up{
  margin-top: 3%;
}
.margin_upm{
  margin-top:1%;
}
.center{
  margin-right: auto;
  margin-left:auto;
}
#searchBar{
  width:80%;
}
#searchButton{
  width:20%;
}
.dropdown-menu {
   height: 150px;
   overflow-y:scroll;
}

.filterButtons{
  float:left;
  margin-right: 1%;
}

#InfoBorder{
    margin-left:auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

.carousel_city{
  height:30%;
  background-color: red;
}

.city_search{
  float: right;
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.carousel {
  width:60%;
  height:40%;
  margin: auto;
}
.carousel-item {
max-height:300px;
height: 30%;
overflow: hidden;
width: 100%;
}
.carousel-item img {
width: 100%;
}

/* .row_class{
  font-size: 30%;

} */
